*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
@font-face{
    font-family:Nexa-Bold;
    src:url(../fonts/Nexa-Bold.otf);}
@font-face{
    font-family:Nexa-Light;
    src:url(../fonts/Nexa-Light.otf);}
@font-face{
    font-family:GABRIOLA;
    src:url(../fonts/GABRIOLA.TTF);}
body{
    width: 100%;
    height: 2000px;
    max-width: 2000px;
    min-width: 320px;
    margin: 0 auto;}

nav{
    width: 100%;
    height: 70px;
    background: #c5ceea;
    max-width: 2000px;
    float: left;
    position: fixed;}

nav label, #icon-menu{
    display:none;}

.menu{
    width: 30%;
    margin-right: 20px;
    float: right;
    height: 70px;
    text-align: center;}

.menu ul li{
    width: 30%;
    color: black;
    list-style: none;
    float: left;
    line-height: 70px;
    font-family: Nexa-Bold;
    text-transform: uppercase;}

.linea1, .linea2{
    width: 40px;
    height: 3px;
    margin-top: 7px;
    float: left;
    transition: .3s;
    background: black;}

.logo-nav{
    float: left;
    height: 50px;
    margin: 10px 20px;}

.insta-nav{
    float: right;
    height: 30px;
    margin: 20px 5px;}



@media (max-width:1300px){
    .menu{
        width: 50%;
        margin-right: 0px;
    }
}
@media (max-width:900px){
    .menu{
        width: 70%;
    }
}

@media (max-width:768px){
    nav label{
        display: block;
        width: 50px;
        height: 50px;
        margin: 15px;
        float: right;}
    .menu{
        width:50%;
        height: auto;
        margin-top: 70px;
        background: #c5ceead5;
        margin-right: -70%;
        transition: .5s;}
    .menu ul li{
        width: 100%;
        line-height: 70px;
    }
    #icon-menu:checked ~ .menu{
        margin-right: -15%;
    }
    #icon-menu:checked ~ label .apagar{
        display: none;
    }
    #icon-menu:checked ~ label .linea1{
        transform: rotate(45deg);
        margin-top: 20px;
        float: left;
    }
    #icon-menu:checked ~ label .linea2{
        transform: rotate(-45deg);
        float: left;
        margin-top: -3px;
    }
    .insta-nav{
        width: 10%;
        height: auto;
        margin: 5px 45%;
    }
}


/*-----------------------------------------------------------------------HEADER--------*/
header{
    width: 100%;
    float: left;
    height: auto;
}
.video-header{
    width: 100%;
    float: left;
    height: auto;
    position: fixed;
    max-width: 2000px;
    z-index: -1000;
}
.txt-header{
    width: 25%;
    float: left;
    margin: 10% 37.5%;
    font-family: GABRIOLA;
    text-align: center;
    font-size: 50px; 
    line-height: 30px;
}
.logo-header{
    width: 100%;
}
@media (max-width:1000px){
    .txt-header{
        font-size: 30px;
    }
}

@media (max-width:768px){
    .txt-header{
        width: 40%;
        margin: 15% 30%;
    }
    .logo-header{
        width:80%;
        margin: 10% 10% 2%;
    }
    .video-header{
        width: auto;
        height: 100%;}
}

/*-----------------------------------------------------------------------TEXTO--------*/
#texto{
    width: 100%;
    float: left;
    background: white;
    text-align: center;
}
.frase1{
    float: left;
    width: 100%;
    padding: 10% 10% 2%;
    font-family:GABRIOLA;
    font-size: 50px;
}
.frase2{
    float: left;
    width: 100%;
    font-family: Nexa-Bold;
    padding: 0% 10% 10%;
    font-size: 25px;
}

@media (max-width:768px){
    .frase1{
        padding: 10% 10% 2%;
        font-size: 30px;
        line-height: 35px;
    }
    .frase2{
        padding: 0% 10% 10%;
        font-size: 25px;
    }
}

@media (max-width:450px){
    .frase1{
        font-size: 30px;
        line-height: 30px;
    }
    .frase2{
        padding: 2% 10% 10%;
        font-size: 16px;
    }
}
/*-----------------------------------------------------------------------MAIN--------*/
main{
    width: 100%;
    float: left;
    height: auto;
    background: white;
    padding: 5% 10%;
}
.conte-producto{
    width: 45%;
    float: left;
    text-align: center;
    margin: 2.5%;
}
.img-produ{
    width: 80%;
    margin: 5% 10%;
    float:left;
    border-radius: 50%;
    box-shadow: 0px 4px black;
}
h1{
    font-family: GABRIOLA;
    font-size: 40px;
    width: 100%;
    float: left;
}
.btn-vertodos{
    font-family: Nexa-Light;
    font-size: 20px;
    width: 100%;
    float: left;
    transition: .3s;
    color: black;
    text-decoration: none;
}
.btn-vertodos:hover{
    font-family: Nexa-Bold;
}
.conte-btn{
    width: 100%;
    float: left;
    text-align: center;
    font-family: Nexa-Light;
    font-size: 20px;
    margin-top: 5%;
}
.btn-tienda{
    width: 20%;
    margin: 2% 40%;
    font-family: Nexa-Bold;
    transition: .3s;
    background: #c5ceea;
    float: left;
    color: rgb(36, 36, 36);
    text-decoration: none;
    border-radius: 10px;
    height: 40px;
    line-height: 40px;
}
.btn-tienda:hover{
    letter-spacing: 1px;
    opacity: .7;
}


/*-----------------------------------------------------------------------CONTACTO--------*/

#contacto{
    width: 100%;
    float: left;
    height: auto;
    background: white;
    padding: 5% 10%;
    text-align: center;}
#secmapa{
    width: 45%;
    margin: 2.5%;
    float: left;}
#mapa{
    width: 90%;
    height: 300px;
    margin: 5%;}
#secmapa a{
    color: rgb(36, 36, 36);
    text-decoration: none;
    width: 100%;
    font-family: Nexa-Light;
    font-size: 18px;
    margin-bottom: 10px;
    float:left;
    transition: .3s;}
#secmapa a:hover{font-family: Nexa-Bold;}

#secformu{
    width: 45%;
    margin:2.5%;
    float: left;
    font-family: Nexa-Light;}
h2{
    width: 100%;
    float: left;
    font-size: 24px;
    letter-spacing: 2px;
    margin-bottom: 20px;}

#secformu form{
    width: 80%;
    margin: 2% 10%;
    float: left;}

.inputformu{
    width: 100%;
    border:0;
    border-bottom: 2px solid rgb(36, 36, 36);
    height: 30px;
    font-size: 16px;
    float: left;
    margin-bottom: 5%;
}

.selectformu{ 
    width: 100%;
    height: 30px;
    border:0;
    border-bottom: 2px solid rgb(36, 36, 36);
    margin-bottom: 5%;
    font-family: Nexa-Light;
    font-size: 16px;
    float: left;}

.textareaformu{ 
    width: 100%;
    border: 2px solid rgb(36, 36, 36);
    height: 100px;
    font-size: 16px;
    float: left;
    margin-bottom: 5%;
    max-width: 100%;
    min-width: 100%;}

.btnformu{
    width: 50%;
    margin: 2% 25%;
    background: rgb(36, 36, 36);
    color: white;
    border:0;
    height: 30px;
    border-radius: 20px;
    font-family: Nexa-Bold;
    transition: .3s;}
.btnformu:hover{
    opacity: .5;
    cursor: pointer;
}

/*-----------------------------------------------------------------------FOOTER--------*/
footer{
    width: 100%;
    float: left;
    height: auto;
    background: linear-gradient(#ffffff, #c5ceea);  
    padding: 5% 10%;
    text-align: center;
}

.logo-footer{
    width: 7%;
    margin-left: 42%;
    float: left;
}
.insta-footer{
    width: 7%;
    margin-right: 42%;
    margin-top: 40px;
    float: right;
}